<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title><?= $this->document->getTitle(); ?></title>
    <link rel="stylesheet" href="<?= '/css' ?>/base.css" type="text/css" />
    <?= $this->document->getHeadTags(); ?>
</head>
<body>

<div class="wrapper">
    <div class="b-header">
        <!-- Simple navigation -->
        <a href="/">Main page</a>
        <?= $this->document->getViewPatchRender('MainMenu'); ?>
    </div><!-- .b-header-->

    <div class="b-messages">
        <!-- Messages -->
        <?php include 'messages.phtml'; ?>
    </div><!-- .b-messages-->

    <div class="b-content">
        <?= $this->document->getContent(); ?>
    </div><!-- .b-content-->
</div>

</body>
</html>