* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #252830;
    color: #cfd2da;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35);
}
body, textarea {
    font-family: Helvetica, Arial, sans-serif;
}
ul {
    list-style: none;
}
a {
    color: #1997c6;
    text-decoration: none;
    outline: none;
}
a:hover {
    color: #116c8e;
    text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    color: white;
}


.xdebug-error table, .xe-notice table,
.xdebug-error tr, .xe-notice tr,
.xdebug-error td, .xe-notice td,
.xdebug-error th, .xe-notice th
{
    color: #000;
    font-size: 13px;
    padding: 4px;
}

.error-page .b-content {

}
.error-page ul {
    list-style: circle;
}
.error-page li {
    margin-left: 30px;
}


.table td, .table th {
    border: 1px solid #636c7f;
    font-weight: normal;
    max-width: 200px;
    overflow: hidden;
    padding: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.table {
    border-collapse: collapse;
}
.table th {
    line-height: 1.1;
    color: #fff;
}

.input {
    background-color: #fafbff;
    border: 1px solid #434857;
    border-radius: 3px;
    display: block;
    font-size: 1rem;
    margin-bottom: 10px;
    outline: none;
    padding: 5px;
}
.input:focus {
    background-color: #fff;
    border-color: #71cced;
    transition: ease-in-out 0.15s
}

.button {
    background-color: rgba(25, 151, 198, 0.25);
    border: 1px solid rgba(25, 151, 198, 0.5);
    border-radius: 0.25rem;
    color: #e5e8f1;
    cursor: pointer;
    display: inline-block;
    font-size: 0.9rem;
    font-weight: normal;
    line-height: 1.25;
    padding: 0.5rem 0.75rem;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}
.button:hover {
    background-color: rgb(25, 151, 198);
    color: #fff;
    transition: ease-in 0.15s;
}


.b-form-buttons {
    padding-top: 10px;
}
.b-add-entity-button {
    display: block;
    margin-bottom: 10px;
}

.b-system-error {

}
.b-system-warnings {

}
.b-system-warning {

}

.b-header {
    margin-bottom: 10px;
}

.b-messages {

}

/*-----------------------*/
.wrapper {
    padding: 10px 40px 20px;
}

.b-content {
    background-color: #313642;
    border-radius: 5px;
    max-width: 1000px;
    padding: 10px 20px 20px;
}

.form-required:after {
    content: '*';
    margin-left: 3px;
}


/*---------------------*/
.b-header__main-menu {
    display: inline-flex;
    padding-left: 10px;
}
.b-main-menu {
    display: flex;
}
.b-main-menu li:first-child {
    margin-left: 0;
}
.b-main-menu li {
    margin-left: 10px;
}
