<?php
$tracksLink = \SRouter::route(['module' => 'tuner',]);
$artistsLink = \SRouter::route(['module' => 'tuner', 'template' => 'artists',]);
$suppliersLink = \SRouter::route(['module' => 'tuner', 'template' => 'suppliers',]);
?>
<div class="b-header__main-menu">
    <ul class="b-main-menu">
        <li><a href="<?= htmlspecialchars($tracksLink); ?>">Tracks</a></li>
        <li><a href="<?= htmlspecialchars($artistsLink); ?>">Artists</a></li>
        <li><a href="<?= htmlspecialchars($suppliersLink); ?>">Suppliers</a></li>
    </ul>
</div>