<?php
$messages = \SReporter::getMessages();
if (!empty($messages)):
?>
    <div class="b-system-messages">
        <?php foreach ($messages as $message): ?>
            <div class="b-system-message">
                <?php echo '<strong>Message:</strong> ' . htmlspecialchars($message); ?>
            </div>
        <?php endforeach; ?>
    </div><!-- .b-system-messages-->
<?php endif; ?>
