<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <?php /** @var $document \Core\View\Document */ ?>
    <title><?php echo $_SERVER['HTTP_HOST'] . ' - ' . $this->document->getTitle(); ?></title>
    <link rel="stylesheet" href="<?php echo '/css' ?>/base.css" type="text/css" />
    <?php echo $this->document->getHeadTags(); ?>
</head>
<body>
    <div class="b-header">
        <a href="/admin">Main page</a>
        <?php if (\SAuth::getCurrentUser()->getId()): ?>
            | <a href="/admin/?task=logout&module=auth">Logout</a>
        <?php endif; ?>
    </div><!-- .b-header-->

    <div class="b-messages">
        <?php include 'messages.phtml'; ?>
    </div><!-- .b-messages-->

    <div class="b-content">
        <?php echo $this->document->getContent(); ?>
    </div><!-- .b-content-->
</body>
</html>